#If you use a database then uncomment below lines and update db properties accordingly
spring:
  main:
    web-application-type: none
  config:
    import: "optional:configtree:/mnt/secrets/disposer/"
  application:
    name: Idam user Disposer

idam:
  api:
    port: ${IDAM_API_PORT:5000}
    url: ${IDAM_API_URL:http://localhost:${idam.api.port}}
  s2s-auth:
    name: ${S2S_NAME:disposer-idam-user}
    url: ${S2S_URL:http://localhost:4502}
    secret: ${S2S_SECRET_DISPOSER_IDAM_USER:AAAAAAAAAAAAAAAA}
  client:
    id: ${DISPOSER_IDAM_USER_CLIENT_ID:disposer-idam-user}
    secret: ${DISPOSER_IDAM_USER_CLIENT_SECRET:idam-client-secret}
    username: ${IDAM_CLIENT_USERNAME:disposertest@test.com}
    password: ${IDAM_CLIENT_PASSWORD:Password12}
    redirect_uri: ${DISPOSER_IDAM_USER_CLIENT_REDIRECT_URL:https://disposer-idam-user/oauth2/callback}

ccd:
  role.assignment:
    host: ${ROLE_ASSIGNMENT_HOST:http://localhost:5000}
    batch.size: ${ROLE_ASSIGNMENT_BATCH_SIZE:100}

service:
  enabled: ${DISPOSER_IDAM_USER_ENABLED:false}
  feign-retry-min-wait: ${DISPOSER_IDAM_USER_FEIGN_RETRY_MIN_WAIT:60} # in seconds

stale-users:
  batch.size: ${DISPOSER_IDAM_USER_BATCH_SIZE:100}
  requests.limit: ${DISPOSER_IDAM_USER_REQUESTS_LIMIT:1000}
  simulation.mode: ${DISPOSER_IDAM_USER_SIMULATION_MODE:true}
  # Time of the day until the job need to finish, otherwise it will be stopped.
  run-until: ${DISPOSER_IDAM_USER_RUN_BEFORE_TIME:06:00}
  # role that citizen user must have among other, otherwise account will be left untouched
  mandatory-role-for-citizen: citizen
  citizen-roles: claimant,defendant,divorce-private-beta,cmc-private-beta,probate-private-beta
  citizen-letter-role-pattern: letter-
